@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
    font-family: Overpass, Arial, Helvetica, sans-serif;
    background-color: hsl(216, 12%, 8%);
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    place-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
}