@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.finish-hidden {
    display: none;
}